.Button{
    transition-property: background, border-radius, color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    font-size: 14px;
    color: #1E2019;
    width: 75px;
    height: 35px;
    border-radius: 6px;
    border: solid 1px #1E2019;
    background: #fefefe;
  }
  
  .Button:hover {
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #E2C044;
    background: #587B7F;
    box-shadow: none;
    color: #ececec;
  }