.registration-title > h2 {
  font-size: 26px;
  color: #1E2019;
  margin-top: 25px;
}

.registration-title > p {
  font-size: 18px;
  color: #1E2019;
}

.alert {
  color: red;
}

.registration-form {
  margin-top:15px;
  margin-bottom:15px;
}

label {
  margin-right: 5px;
  text-align: left;
}

#registration-name-input, #registration-username-input, #registration-password-input {
  transition-property: border, background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  text-align: left;
  padding: 5px;
  margin: 2px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px #1E2019 solid;
  margin-bottom: 14px;
}

#registration-name-input:focus, #registration-username-input:focus, #registration-password-input:focus {
  border-radius: 2px;
  border: 1px #E2C044 solid;
  background-color: #ececec;
}

footer {
  margin-top: 10px;
}

.registration-submit {
  transition-property: background, border-radius, color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  font-size: 14px;
  color: #1E2019;
  width: 75px;
  height: 35px;
  border-radius: 6px;
  border: solid 1px #1E2019;
  background: #fefefe;
}

.registration-submit:hover {
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #E2C044;
  background: #587B7F;
  box-shadow: none;
  color: #ececec;
}

#asterisk-notification {
  font-style: italic;
}