#login-username-input, #login-password-input {
  transition-property: border, background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  text-align: left;
  padding: 5px;
  margin: 2px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px #1E2019 solid;
}

#login-username-input:focus, #login-password-input:focus {
  border-radius: 2px;
  border: 1px #E2C044 solid;
  background-color: #ececec;
}

#login-password-input {
  margin-left: 5px;
}

.login-title > h2 {
  font-size: 26px;
  color: #1E2019;
  margin-top: 25px;
}

.LoginForm {
  margin-top:15px;
  margin-bottom:15px;
}

.login-submit {
  transition-property: background, border-radius, color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  font-size: 14px;
  color: #1E2019;
  width: 75px;
  height: 35px;
  border-radius: 6px;
  background: #fefefe;
}

.login-submit:hover {
  cursor: pointer;
  border-radius: 4px;
  background: #587B7F;
  box-shadow: none;
  color: #ececec;
}